<div class="bg-info">
	<div class="form-group">
		<label for="maker_table-name-input" class="col-xs-4 control-label">Table Name</label>
		<div class="col-xs-6"><input type="text" class="form-control" id="maker_table-name-input" placeholder="Ex: measurments"></div>
		<div data-toggle="tooltip" title="Add a new Table" class="col-xs-1"><div class="remove-table btn btn-default glyphicon glyphicon-remove"></div></div>
	</div>
	<div class="form-group">
		<h5 class="col-xs-4 control-label">Sensors</h5>
	</div>
	<div class="form-group maker_sensor">
		<div class="col-xs-3 col-xs-offset-4"><input type="text" class="form-control maker_sensor-input" placeholder="Ex: 72"></div>
		<div class="col-xs-3">
			<select class="form-control maker_sensor-select" title="type">
				<option value="l">Line</option>
				<option value="c">Column</option>
				<option value="b">Binary</option>
			</select>
		</div>
		<div data-toggle="tooltip" title="Add a new Sensor" class="col-xs-1"><div class="add-sensor btn btn-default glyphicon glyphicon-plus"></div></div>
	</div>
</div>